---
---

@import"{{ site.theme }}";

.page-header{
color:#ffff;
background-image:url(/img/map.svg);
}

.main-content table th, .main-content table td{
    padding: 0.2rem 0.2rem;
    border: none;
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.9;
    color: white;
    text-shadow: 1px 1px 3px black;
}
